.container {
  max-width: 1100px;
  margin: 0 auto;
}

.bg-dark {
  background-color: var(--c12);
}

.font-primaria {
  font-family: var(--font-primaria);
}

.font-1-m {
  font-size: 1.125rem;
  font-weight: 400;
}
