.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 2rem;
}

.bg-dark {
  background-color: var(--c12);
}

.font-primaria {
  font-family: var(--font-primaria);
}

.font-secundaria {
  font-family: var(--font-secundaria);
}

.c-w {
  color: var(--w);
}

.c-5 {
  color: var(--c5);
}

.font-1-xxl {
  font-size: 4rem;
  line-height: 72px;
}

@media (max-width: 600px) {
  .font-1-xxl {
    font-size: 3rem;
    line-height: 55px;
  }
}

.font-1-m {
  font-size: 1.125rem;
  font-weight: 400;
}

.font-2-l {
  font-size: 1.5rem;
  line-height: 36px;
}

.font-1-xl {
  font-size: 2rem;
}

.uppercase {
  text-transform: uppercase;
}

.btn-principal {
  color: var(--p5);
  padding: 1rem 2rem;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 0.4rem;
  background-image: linear-gradient(#ffbf00, #f2a50c);
}

.detalhe-dot {
  color: var(--p1);
}

.mb-7 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-9 {
  margin-bottom: 2.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

@media (max-width: 800px) {
  .mb-7 {
    margin-bottom: 1rem;
  }
  .mb-9 {
    margin-bottom: 0rem;
  }
}
