.principal {
  display: grid;

  grid-template-columns: 2fr 2fr;
  gap: 5.5rem;
}

.principal-item {
  padding-top: 12.5rem;
  padding-bottom: 10rem;
}

.descricao-main {
  max-width: 70ch;
}

.imagem-main {
  margin-right: -50px;
  padding-right: 30px;
}

.imagem-main img {
  object-fit: fill;
  height: calc(100vh + 120px);
}

@media (max-width: 1050px) {
  .imagem-main img {
    max-height: 60vh;
  }
}

.detalhe-shadow {
  box-shadow: inset 0 -120px #fff;
}

@media (max-width: 850px) {
  .principal {
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .imagem-main {
    display: none;
  }

  .detalhe-shadow {
    box-shadow: initial;
  }

  .imagem-main img {
    object-fit: cover;
  }

  .principal-item {
    padding: 3rem 0;
  }
}
