.formulario-container {
  background-color: #fff;
  padding: 2.4rem 2.5rem 3.5rem 3.5rem;
  margin-bottom: 4.5rem;
}

.card-contato {
  display: grid;
  padding: 0;
  box-shadow: 1px 2px 30px 1px rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(2, 1fr);
}

.bg-dark-shadow {
  box-shadow: inset 0 -200px #fff;
}

.form {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(2, 2fr);
}

@media (max-width: 800px) {
  .card-contato {
    grid-template-columns: 1fr;
  }

  .formulario-container {
    padding-right: 2rem !important;
  }
}

@media (max-width: 500px) {
  .form {
    grid-template-columns: 1fr;
    padding: 0px;
  }

  .formulario-container {
    padding: 1rem 4rem 2rem 1rem;
  }
}

.form div {
  margin: 0.8rem 0;
}

.form {
  max-width: 900px;
  margin: 0 auto;
}

.form div input,
.form div textarea {
  display: block;
  max-width: 100%;
  background-color: var(--c2);
  border-radius: 4px;
  border: none;
  width: 100%;
}

.email,
.mensagem,
.cpf,
.cl-1-1 {
  grid-column: 1 / -1;
}

.form div label {
  display: block;
  margin-bottom: 0.7rem;
}

.termos {
  align-items: center;
  display: flex;
  gap: 0.6rem;
}
.termos input {
  padding: 0;
  width: fit-content !important;
}

.termos label {
  margin-bottom: 0 !important;
}

select {
  max-width: 100%;
  background-color: var(--c2);
  width: 100%;
}

input,
textarea,
select {
  display: block;
  padding: 0.8rem 1.3rem;
}

textarea {
  resize: none;
}

.form a {
  margin-right: auto;
  margin-top: 2rem;
  grid-column: 1 / -1;
}

@media (max-width: 500px) {
  .form a {
    margin-top: 1.2rem;
  }

  .formulario-container {
    margin-bottom: 2rem;
  }
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border: none;
  box-shadow: 1px 1px 4px 1px var(--p2);
  outline: 1px solid var(--p1);
}
